.aboutContainer {
    min-height: 100vh;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 5px; /* Reduce the bottom margin */
    color: #BFA77E; /* Set the color */
    font-family: 'Arial', sans-serif; /* Set the font family */
}

.h2 {
  text-align: center;
    margin-top: 2px; /* Reduce the top margin */
    margin-bottom: 40px; /* Add bottom margin for spacing */
    font-size: 3em; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Set the color */
    font-family: 'Arial', sans-serif; /* Set the font family */
    text-transform: uppercase; /* Transform text to uppercase */
    letter-spacing: 1px; /* Add some letter spacing */
}
  .title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .producerSection {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .producerImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .producerName {
    font-size: 24px;
    color: #555;
  }
  
  .contentSection {
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    color: #666;
  }
  
  .contentSection h4 {
    text-align: right;
    font-size: 22px;
    color: #333;
    margin-top: 20px;
  }
  
  .contentSection p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
  }
  